SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1

GOOGLE_OAUTH2_KEY=
GOOGLE_OAUTH2_SECRET=

POSTGRES_DB=social_web
POSTGRES_USER=social_web
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0