{% load thumbnail %}

{% for image in images %}
    <article class="image-card">
        <a
            href="{{ image.get_absolute_url }}"
            class="image-card-preview"
        >
            {% thumbnail image.image "300x300" crop="smart" as thumbnail_image %}

            <img
                src="{{ thumbnail_image.url }}"
                alt="{{ image.title }}"
                width="{{ thumbnail_image.width }}"
                height="{{ thumbnail_image.height }}"
                loading="lazy"
            >
        </a>

        <div class="image-card-content">
            <h3 class="image-card-title">
                <a href="{{ image.get_absolute_url }}">
                    {{ image.title }}
                </a>
            </h3>
        </div>
    </article>
{% empty %}
    <div class="image-list-empty">
        <p>No images found.</p>
    </div>
{% endfor %}

