{% with action_user=action.user %}
<article class="activity-item">
    <a
        href="{{ action_user.get_absolute_url }}"
        class="activity-avatar-link"
        aria-label="View {{ action_user.username }} profile"
    >
        {% include "components/avatar.html" with user=action_user size="64x64" class_name="activity-avatar" placeholder_class="activity-avatar-placeholder" lazy=True %}
    </a>

    <div class="activity-content">
        <div class="activity-main">
            <a
                href="{{ action_user.get_absolute_url }}"
                class="activity-user"
            >
                {{ action_user.get_full_name|default:action_user.username }}
            </a>

            <span class="activity-verb">
                {{ action.verb }}
            </span>

            {% if action.target %}
                <a
                    href="{{ action.target.get_absolute_url }}"
                    class="activity-target"
                >
                    {{ action.target }}
                </a>
            {% endif %}
        </div>

        <time
            class="activity-date"
            datetime="{{ action.created|date:'c' }}"
        >
            {{ action.created|timesince }} ago
        </time>
    </div>

    {% if action.target and action.target.image %}
        <a
            href="{{ action.target.get_absolute_url }}"
            class="activity-preview"
            aria-label="View {{ action.target }}"
        >
            <img
                src="{{ action.target.image.url }}"
                alt=""
                loading="lazy"
                decoding="async"
            >
        </a>
    {% endif %}
</article>
{% endwith %}